body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
h1{
    margin-bottom: 20px;
}
#semaforo{
    width: 50px;
    background-color: #222;
    padding: 50px;
    margin: 0 auto 100px auto;
    border-radius: 5px;
}
.luz{
    width: 60px;
    height: 60px;
    margin: 25px auto;
    border-radius: 50%;
    background-color: #444;
    transition: background-color 0.3s;
}
#botoes button{
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
#btnvermelho {background-color: #ff4c4c;}
#btnamarelo {background-color: #ffd633;}
#btnverde {background-color: #5cd65c;}
#btnAuto {background-color: #ccc;}
#btnStop {background-color: limegreen;}

.acesa.vermelha {background-color: #ff4c4c;}
.acesa.amarela {background-color: #ffd633;}
.acesa.verde {background-color: #5cd65c;}